{
        "BOT_TOKEN": "",
        "DATABASE_NAME": "botdata.db",
        "USER_WARNED_TIME":300,
        "DELETE_MESSAGE_TIME":60 ,
        "DELETE_MESSAGE_LONG_TIME":600,
       " DELETE_MESSAGE_SHORT_TIME":300
}